{% load staticfiles %}
<html>
<head>
<meta charset = "UTF-8">
<link rel = "stylesheet" href="{% static "css/blog.css "%}"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<title>GoToBlog</title>

</head>
<body>
<div class = "header">
	<h1>GoTo Blog</h1>
    <a type="button" class="save btn btn-outline-dark" href="{% url 'post_new' %}">New Post</a>
</div>


{% block content %}
{% endblock %}
</body>
</html>