
{% extends 'blog/base.html' %}
{% block content  %}
<div class = "bordered">
	<h2>{{ post.title }}</h2>
	<p>{{ post.text }}</p>
    <p>{{post.likes}}👍</p>
	<p>{{ post.comments.comment_list }}</p>
	{% if post.likes > 5 %}
	<p>Popular Post</p>
	{% else %}
	{% endif %}
    {% for comment in comments %}
        {% if comment.post == pk %}
        <h3>Имя: {{ comment.name }}</h3>
            <p>{{ comment.text }}</p>
        {% endif %}
    {% endfor %}

	
</div>
{% endblock %}


