{% extends 'blog/base.html' %}
{% block content %}
<h2>New Post</h2>
    <form method="post" class = "post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-outline-dark">Save</button>
    </form>
{% endblock %}