
{% extends 'blog/base.html' %}
{% block content  %}
	<div class = "posts">
		{% for post in posts %}
		<div class = "bordered">
			<h2>
				
				<a href="{% url 'post_detail' pk=post.pk %}">
					{{post.title}}
				</a>
                <a type="button" href = "{% url 'delete_post' pk=post.pk %}" class="save btn btn-outline-dark">Del</a>

			</h2>
			<p> {{post.text}}</p><a type="button" href="{% url 'comment_new' pk=post.pk %}" class = "save btn btn-outline-dark">Comment</a>
            <p>{{post.likes}}</p>
            <a type="button" href="{% url 'add_like' pk=post.pk %}">👍</a>
			
		</div>
		{% endfor %}
	</div>
{% endblock %}