body {
    background-color: #ddffdd;
}
h1 {
	font-color: #FFFFFF
}
h2 {
    color: #5E5694;

}
div {




}
.bordered{
    border: 5px;
    border-color: #ba2121;
}
a {
    background-color: #6DDCBD;
    text-decoration: none;
}
p {
    color: #cc3300;
    background-color: #cccccc;

}
.header{
	background-color: #008080;
    height: 100px;
    width: auto;
    alig: center;
	text-color: red;

	
}
